# Dependences and new code

In [ ]:
pip install git+https://github.com/aerosense-ai/aerosense-tools.git@0.3.2

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import datetime as dt

from aerosense_tools.queries import BigQuery

In [ ]:
client = BigQuery()

In [ ]:
print(client.get_sensor_types())
print(client.get_installations())

['accelerometer', 'barometer', 'barometer_thermometer', 'battery_voltmeter', 'connection_statistics', 'differential_barometer', 'gyroscope', 'magnetometer', 'microphone']
[{'label': 'aventa-turbine-test (Turbine 0)', 'value': 'aventa-turbine-test'}, {'label': 'my-next-test-installation (Turbine 0)', 'value': 'my-next-test-installation'}, {'label': 'ost-wt-evaluation (Turbine 0)', 'value': 'ost-wt-evaluation'}, {'label': 'ost-wt-tests (Turbine 0)', 'value': 'ost-wt-tests'}, {'label': 'pbl-test (Turbine unknown)', 'value': 'pbl-test'}, {'label': 'test-installation (Turbine 0)', 'value': 'test-installation'}]

In [ ]:
#Get the time serties for barometer by running a SQL query
sensor_types = [
    'barometer',
    'accelerometer',
    'gyroscope',
    'magnetometer',
    'differential_barometer'
    ]

sample_time={}

for sensor in sensor_types:

  query_string = f"""
        SELECT datetime
        FROM `greta.sensor_data`
        WHERE sensor_type_reference="{sensor}" and
        node_id="1" and
        installation_reference = "pbl-test" and
        datetime > "2022-11-15 00:00:00.0"
        ORDER BY datetime ASC
        """

  sample_time[sensor]=client.query(query_string)

In [ ]:
# Not sure if this can be done more elegantly. 
# And, surely, can be done directly with SQL (I just don't dare).


# Define a session as any continuous measurement with a max gap between
# consecutive measurements of no longer than x secondsâ€‹. 
sensor_sessions={}

for sensor in sensor_types:
  # Maximum gap of 60 sec, in theory can different for different sensors
  threshold = dt.timedelta(seconds=60) 

  session_starts = sample_time[sensor]['datetime'].diff() > threshold
  session_ends = abs(sample_time[sensor]['datetime'].diff(-1)) > threshold
  session_starts.iloc[0]=session_ends.iloc[-1]=True

  # Not sure if concat is the best way, but will do for now
  sessions=pd.concat([sample_time[sensor][session_starts], sample_time[sensor][session_ends]], axis=1)
  sessions.columns=['start','end']

  # Edge case of a single measurement point:
  if any(sessions['start']==sessions['end'])==True:
    print('Warning: Sensor {} has single measuremnt points'.format(sensor))
    print(sessions[sessions['start']==sessions['end']])
    sessions=sessions[sessions['start']!=sessions['end']]

  sessions['end'] = sessions['end'].shift(-1)
  sensor_sessions[sensor]=sessions.dropna().reset_index(drop=True)

Warning: Sensor barometer has single measuremnt points
                             start                        end
0       2022-11-16 15:20:01.975915 2022-11-16 15:20:01.975915
644878  2022-11-16 21:55:04.435144 2022-11-16 21:55:04.435144
1010576 2022-11-17 01:53:38.841969 2022-11-17 01:53:38.841969
1855786 2022-11-17 10:15:59.027464 2022-11-17 10:15:59.027464
2044214 2022-11-17 20:15:29.137279 2022-11-17 20:15:29.137279
2044215 2022-11-18 04:17:36.666142 2022-11-18 04:17:36.666142

In [ ]:
for sensor in sensor_types:
  sensor_sessions[sensor]['interval']=sensor_sessions[sensor].apply(
      lambda row: pd.Interval(row['start'],row['end'], 'both'), axis=1
      )
  sensor_sessions[sensor]['duration'] = sensor_sessions[sensor]['end'] - sensor_sessions[sensor]['start']
  

for sensor in ['differential_barometer','accelerometer', 'gyroscope', 'magnetometer']:
  intervals = pd.arrays.IntervalArray(sensor_sessions[sensor]['interval'])

  sensor_sessions['barometer'][sensor]=sensor_sessions['barometer'].apply(
      lambda row: any(intervals.overlaps(row['interval'])), axis=1
  )

In [ ]:
sensor_sessions['barometer'].drop('interval', axis=1)

,start,end,duration,differential_barometer,accelerometer,gyroscope,magnetometer
0,2022-11-16 15:50:39.857688,2022-11-16 15:59:50.441781,0 days 00:09:10.584093,True,True,True,True
1,2022-11-16 16:10:41.092540,2022-11-16 16:20:41.019697,0 days 00:09:59.927157,True,True,True,True
2,2022-11-16 16:40:41.032332,2022-11-16 16:50:41.022636,0 days 00:09:59.990304,True,True,True,True
3,2022-11-16 17:10:41.093177,2022-11-16 17:20:40.987034,0 days 00:09:59.893857,True,True,True,True
4,2022-11-16 17:40:41.194619,2022-11-16 17:50:41.062035,0 days 00:09:59.867416,True,True,True,True
5,2022-11-16 18:10:41.095954,2022-11-16 18:20:41.076240,0 days 00:09:59.980286,True,True,True,True
6,2022-11-16 18:40:41.253645,2022-11-16 18:50:41.142496,0 days 00:09:59.888851,True,True,True,True
7,2022-11-16 19:10:41.197300,2022-11-16 19:20:41.204387,0 days 00:10:00.007087,True,True,True,True
8,2022-11-16 19:40:41.251614,2022-11-16 19:50:41.227153,0 days 00:09:59.975539,True,True,True,True
9,2022-11-16 20:10:41.311151,2022-11-16 20:11:07.118621,0 days 00:00:25.807470,True,True,True,True
10,2022-11-16 20:40:41.395489,2022-11-16 20:50:41.303993,0 days 00:09:59.908504,True,True,True,True
11,2022-11-16 21:15:08.741066,2022-11-16 21:20:41.418500,0 days 00:05:32.677434,True,True,True,True
12,2022-11-16 21:40:41.495461,2022-11-16 21:43:03.845830,0 days 00:02:22.350369,True,True,True,True
13,2022-11-16 22:10:41.621470,2022-11-16 22:20:41.538310,0 days 00:09:59.916840,True,True,True,True
14,2022-11-16 22:40:41.576939,2022-11-16 22:50:41.553835,0 days 00:09:59.976896,True,True,True,True
15,2022-11-16 23:10:41.627305,2022-11-16 23:11:40.782087,0 days 00:00:59.154782,True,True,True,True
16,2022-11-16 23:40:41.742635,2022-11-16 23:50:41.595538,0 days 00:09:59.852903,True,True,True,True
17,2022-11-17 00:10:41.641869,2022-11-17 00:20:41.617361,0 days 00:09:59.975492,True,True,True,True
18,2022-11-17 00:40:41.689762,2022-11-17 00:40:44.390171,0 days 00:00:02.700409,True,True,True,True
19,2022-11-17 01:10:41.806342,2022-11-17 01:20:41.809802,0 days 00:10:00.003460,True,True,True,True
20,2022-11-17 01:40:41.857005,2022-11-17 01:50:41.834808,0 days 00:09:59.977803,True,True,True,True
21,2022-11-17 02:10:41.916744,2022-11-17 02:10:55.727345,0 days 00:00:13.810601,True,True,True,True
22,2022-11-17 02:23:52.948135,2022-11-17 02:24:02.274240,0 days 00:00:09.326105,True,False,False,False
23,2022-11-17 02:40:42.054232,2022-11-17 02:50:41.968773,0 days 00:09:59.914541,True,True,True,True
24,2022-11-17 03:10:42.011422,2022-11-17 03:20:41.984846,0 days 00:09:59.973424,True,True,True,True
25,2022-11-17 03:40:41.968728,2022-11-17 03:50:42.049693,0 days 00:10:00.080965,True,True,True,True
26,2022-11-17 04:10:42.113997,2022-11-17 04:20:42.010933,0 days 00:09:59.896936,True,True,True,True
27,2022-11-17 04:40:42.167864,2022-11-17 04:50:41.982783,0 days 00:09:59.814919,True,True,True,True
28,2022-11-17 05:10:42.224856,2022-11-17 05:20:42.104798,0 days 00:09:59.879942,True,True,True,True
29,2022-11-17 05:40:42.175932,2022-11-17 05:50:42.056769,0 days 00:09:59.880837,True,True,True,True
30,2022-11-17 06:10:42.231186,2022-11-17 06:20:42.130018,0 days 00:09:59.898832,True,True,True,True
31,2022-11-17 06:40:42.178599,2022-11-17 06:50:42.149151,0 days 00:09:59.970552,True,True,True,True
32,2022-11-17 07:10:42.279346,2022-11-17 07:20:42.218174,0 days 00:09:59.938828,True,True,True,True
33,2022-11-17 07:40:42.385484,2022-11-17 07:50:42.281892,0 days 00:09:59.896408,True,True,True,True
34,2022-11-17 08:22:40.191552,2022-11-17 08:32:40.095840,0 days 00:09:59.904288,True,True,True,True
35,2022-11-17 08:52:40.248442,2022-11-17 09:02:40.219981,0 days 00:09:59.971539,True,True,True,True
36,2022-11-17 09:22:40.190343,2022-11-17 09:23:26.157156,0 days 00:00:45.966813,True,True,True,True
37,2022-11-17 09:52:40.308613,2022-11-17 10:02:40.233142,0 days 00:09:59.924529,True,True,True,True
38,2022-11-17 10:22:40.370068,2022-11-17 10:29:26.453249,0 days 00:06:46.083181,True,True,True,True
39,2022-11-17 10:52:40.406356,2022-11-17 11:02:40.319533,0 days 00:09:59.913177,True,True,True,True
40,2022-11-17 11:22:40.363400,2022-11-17 11:32:40.339502,0 days 00:09:59.976102,True,True,True,True
41,2022-11-17 11:52:40.416110,2022-11-17 11:57:22.695073,0 days 00:04:42.278963,True,True,True,True

In [ ]:
sensor_sessions['differential_barometer']

,start,end,interval,duration
0,2022-11-16 15:50:40.857658,2022-11-16 16:00:14.882558,"[2022-11-16 15:50:40.857658, 2022-11-16 16:00:...",0 days 00:09:34.024900
1,2022-11-16 16:10:42.192515,2022-11-16 16:20:41.840274,"[2022-11-16 16:10:42.192515, 2022-11-16 16:20:...",0 days 00:09:59.647759
2,2022-11-16 16:40:42.032301,2022-11-16 16:50:41.791242,"[2022-11-16 16:40:42.032301, 2022-11-16 16:50:...",0 days 00:09:59.758941
3,2022-11-16 17:10:42.093146,2022-11-16 17:20:41.707605,"[2022-11-16 17:10:42.093146, 2022-11-16 17:20:...",0 days 00:09:59.614459
4,2022-11-16 17:40:42.194619,2022-11-16 17:50:41.830610,"[2022-11-16 17:40:42.194619, 2022-11-16 17:50:...",0 days 00:09:59.635991
5,2022-11-16 18:10:42.090636,2022-11-16 18:20:41.796811,"[2022-11-16 18:10:42.090636, 2022-11-16 18:20:...",0 days 00:09:59.706175
6,2022-11-16 18:40:42.153639,2022-11-16 18:50:42.151092,"[2022-11-16 18:40:42.153639, 2022-11-16 18:50:...",0 days 00:09:59.997453
7,2022-11-16 19:10:42.197270,2022-11-16 19:20:42.016968,"[2022-11-16 19:10:42.197270, 2022-11-16 19:20:...",0 days 00:09:59.819698
8,2022-11-16 19:40:42.251614,2022-11-16 19:50:41.995759,"[2022-11-16 19:40:42.251614, 2022-11-16 19:50:...",0 days 00:09:59.744145
9,2022-11-16 20:10:42.312128,2022-11-16 20:11:07.124195,"[2022-11-16 20:10:42.312128, 2022-11-16 20:11:...",0 days 00:00:24.812067
10,2022-11-16 20:40:42.395489,2022-11-16 20:50:42.024564,"[2022-11-16 20:40:42.395489, 2022-11-16 20:50:...",0 days 00:09:59.629075
11,2022-11-16 21:15:08.740669,2022-11-16 21:19:34.970254,"[2022-11-16 21:15:08.740669, 2022-11-16 21:19:...",0 days 00:04:26.229585
12,2022-11-16 21:20:36.788068,2022-11-16 21:20:42.139071,"[2022-11-16 21:20:36.788068, 2022-11-16 21:20:...",0 days 00:00:05.351003
13,2022-11-16 21:40:42.495431,2022-11-16 21:43:03.854426,"[2022-11-16 21:40:42.495431, 2022-11-16 21:43:...",0 days 00:02:21.358995
14,2022-11-16 22:10:42.621470,2022-11-16 22:20:42.258881,"[2022-11-16 22:10:42.621470, 2022-11-16 22:20:...",0 days 00:09:59.637411
15,2022-11-16 22:40:42.576909,2022-11-16 22:50:42.274406,"[2022-11-16 22:40:42.576909, 2022-11-16 22:50:...",0 days 00:09:59.697497
16,2022-11-16 23:10:42.627305,2022-11-16 23:11:40.782687,"[2022-11-16 23:10:42.627305, 2022-11-16 23:11:...",0 days 00:00:58.155382
17,2022-11-16 23:40:42.742635,2022-11-16 23:50:42.316108,"[2022-11-16 23:40:42.742635, 2022-11-16 23:50:...",0 days 00:09:59.573473
18,2022-11-17 00:10:42.641869,2022-11-17 00:20:42.337932,"[2022-11-17 00:10:42.641869, 2022-11-17 00:20:...",0 days 00:09:59.696063
19,2022-11-17 00:40:42.689762,2022-11-17 00:40:44.416742,"[2022-11-17 00:40:42.689762, 2022-11-17 00:40:...",0 days 00:00:01.726980
20,2022-11-17 01:10:42.806767,2022-11-17 01:20:42.574379,"[2022-11-17 01:10:42.806767, 2022-11-17 01:20:...",0 days 00:09:59.767612
21,2022-11-17 01:40:42.856974,2022-11-17 01:50:42.555379,"[2022-11-17 01:40:42.856974, 2022-11-17 01:50:...",0 days 00:09:59.698405
22,2022-11-17 02:10:42.916713,2022-11-17 02:10:55.731912,"[2022-11-17 02:10:42.916713, 2022-11-17 02:10:...",0 days 00:00:12.815199
23,2022-11-17 02:23:53.196276,2022-11-17 02:23:53.219276,"[2022-11-17 02:23:53.196276, 2022-11-17 02:23:...",0 days 00:00:00.023000
24,2022-11-17 02:40:43.053921,2022-11-17 02:50:42.689344,"[2022-11-17 02:40:43.053921, 2022-11-17 02:50:...",0 days 00:09:59.635423
25,2022-11-17 03:10:43.011391,2022-11-17 03:20:42.705416,"[2022-11-17 03:10:43.011391, 2022-11-17 03:20:...",0 days 00:09:59.694025
26,2022-11-17 03:40:42.969040,2022-11-17 03:50:42.814270,"[2022-11-17 03:40:42.969040, 2022-11-17 03:50:...",0 days 00:09:59.845230
27,2022-11-17 04:10:43.113966,2022-11-17 04:20:42.731504,"[2022-11-17 04:10:43.113966, 2022-11-17 04:20:...",0 days 00:09:59.617538
28,2022-11-17 04:40:33.417263,2022-11-17 04:50:42.751389,"[2022-11-17 04:40:33.417263, 2022-11-17 04:50:...",0 days 00:10:09.334126
29,2022-11-17 05:10:43.124850,2022-11-17 05:20:43.113363,"[2022-11-17 05:10:43.124850, 2022-11-17 05:20:...",0 days 00:09:59.988513
30,2022-11-17 05:40:43.175932,2022-11-17 05:50:42.777340,"[2022-11-17 05:40:43.175932, 2022-11-17 05:50:...",0 days 00:09:59.601408
31,2022-11-17 06:10:43.231186,2022-11-17 06:20:42.898593,"[2022-11-17 06:10:43.231186, 2022-11-17 06:20:...",0 days 00:09:59.667407
32,2022-11-17 06:40:43.178568,2022-11-17 06:50:42.917726,"[2022-11-17 06:40:43.178568, 2022-11-17 06:50:...",0 days 00:09:59.739158
33,2022-11-17 07:10:43.279346,2022-11-17 07:20:42.986780,"[2022-11-17 07:10:43.279346, 2022-11-17 07:20:...",0 days 00:09:59.707434
34,2022-11-17 07:40:43.385484,2022-11-17 07:50:43.050435,"[2022-11-17 07:40:43.385484, 2022-11-17 07:50:...",0 days 00:09:59.664951
35,2022-11-17 08:22:41.191552,2022-11-17 08:32:40.816411,"[2022-11-17 08:22:41.191552, 2022-11-17 08:32:...",0 days 00:09:59.624859
36,2022-11-17 08:52:41.248411,2022-11-17 09:02:40.940552,"[2022-11-17 08:52:41.248411, 2022-11-17 09:02:...",0 days 00:09:59.692141
37,2022-11-17 09:22:41.190313,2022-11-17 09:23:26.171733,"[2022-11-17 09:22:41.190313, 2022-11-17 09:23:...",0 days 00:00:44.981420
38,2022-11-17 09:52:41.308613,2022-11-17 10:02:40.953713,"[2022-11-17 09:52:41.308613, 2022-11-17 10:02:...",0 days 00:09:59.645100
39,2022-11-17 10:22:41.370068,2022-11-17 10:29:26.471823,"[2022-11-17 10:22:41.370068, 2022-11-17 10:29:...",0 days 00:06:45.101755
40,2022-11-17 10:52:41.416365,2022-11-17 11:02:41.050113,"[2022-11-17 10:52:41.416365, 2022-11-17 11:02:...",0 days 00:09:59.633748
41,2022-11-17 11:22:41.363370,2022-11-17 11:32:41.060073,"[2022-11-17 11:22:41.363370, 2022-11-17 11:32:...",0 days 00:09:59.696703
42,2022-11-17 11:52:41.416080,2022-11-17 11:57:22.717646,"[2022-11-17 11:52:41.416080, 2022-11-17 11:57:...",0 days 00:04:41.301566
43,2022-11-17 19:27:53.600257,2022-11-17 19:27:53.623257,"[2022-11-17 19:27:53.600257, 2022-11-17 19:27:...",0 days 00:00:00.023000

In [ ]:
#Samplewise allinmet check. 

df1 = sample_time['barometer'].set_index(sample_time['barometer']['datetime']).rename(columns = {'datetime':'baros_samples'})
df2 = sample_time['accelerometer'].set_index(sample_time['accelerometer']['datetime']).rename(columns = {'datetime':'accelerometer_samples'})
df3=pd.concat([df1, df2], axis=1)
df3['accelerometer_samples']=df3['accelerometer_samples'].shift(-1)

df1['accelerometer_bool']=df3['accelerometer_samples'] - df3['baros_samples'] < dt.timedelta(seconds=1)